# Ignore binraies and build results
/target/
/work/
/db/hsqldb/db/
/db/hsqldb/images/
/db/hsqldb/processed-images/
/lib/
!/lib/pitalium-*.jar
!/lib/sources/pitalium-*.jar
/bin/
/src/main/webapp/WEB-INF/classes
/src/test/resources/processed-images/
/build/
/.gradle/

# Misc
*.iml
.idea
.#webclasspath

# comfigure
.project
.tomcatplugin
/src/main/resources/persisterConfig.json

